---
import Navigation from "../components/Navigation.astro";
import Menu from "../components/Menu.astro";
import ThemeIcon from "./ThemeIcon.astro";
---

<nav>
    <div>
        <ThemeIcon />
        <Menu />
    </div>
    <Navigation />
</nav>

<style>
    div {
        display: flex;
        justify-content: space-between;
    }
</style>
